<ion-view title="Page" id="page1" style="background-color:#FDFCF5;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/TBJ7vLFERSmB6iYWGjp1_single-cube_318-37159.png" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="page-form3" class="list ">
            <h2 id="page-heading2" style="color:#0E0E0D;text-align:center;" class=" ">Library</h2>
            <h2 id="page-heading3" style="color:#0C0B0B;text-align:center;" class=" ">Book Reservation</h2>
            <label class="item item-input " id="page-input3">
                <input type="text" placeholder="Username">
            </label>
            <div class="spacer" style="width: 300px; height: 7px;"></div>
            <label class="item item-input " id="page-input4">
                <input type="password" placeholder="Password">
            </label>
        </form>
        <div id="page-button-bar2" class=" button-bar ">
            <button id="page-button8" class=" button button-dark  button-block ">Sign In</button>
            <a ui-sref="signup" id="page-button10" class=" button button-light  button-block ">Sign Up</a>
        </div>
    </ion-content>
</ion-view>