<ion-view title="Signup" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form5" class="list ">
            <div class="spacer" style="height: 100px;"></div>
            <ion-list id="signup-list1" class=" ">
                <label class="item item-input " id="signup-input5">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input6">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input7">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button id="signup-button11" style="border-radius:4px 4px 4px 4px;" class=" button button-dark  button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>